---
layout: landing
baseurl: ''
title: Register
targetx_form: true
description: ''
include_eurostile_font: true
icon_section_heading: Why Choose KCC?
testimonials_heading: What Our Students Say
exclude_testimonials_html_quotes: true
testimonials:
  - portrait: /uploads/loryelle-robinson_dsc_9075.jpg
    portrait_alt_text: LoRyelle Robinson
    quote: >-
      Attending KCC was the best choice I have ever made after high school. Going to Kankakee Community College not only
      acquires you more time for making decisions, but it also helps you start saving money before a potential transfer to a
      college&nbsp;university.
    name: LoRyelle Robinson, A.A. '21
    year:
  - portrait: /uploads/mark-daniel-cross_z91_7672.jpg
    portrait_alt_text: Mark Daniel Cross
    quote: >-
      KCC is a great choice for me. So far, my encounters with the teachers and staff at KCC have been great! I am able to get
      a great education at an affordable cost. The smaller class sizes allow students to get to know the teacher and fellow
      classmates a lot easier than a big 200+ size class at a university. The creativity and passion many have in their area
      of study shows up in the&nbsp;classroom.
    name: Mark Daniel Cross, Current Student
    year:
_inputs:
  targetx_form:
    hidden: true
  include_eurostile_font:
    hidden: true
  exclude_testimonials_html_quotes:
    hidden: true
---

{% include header.html %}
{% include benefits.html %}
{% include bottom-action-call.html %}
