---
layout: default
baseurl: ''
title: Register
description: ''
---

<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 header__bg positioning__offset-global-nav">
        <div class="row positioning__heading--row">
          <div class="col-5">&nbsp;</div>
          <div class="col-7 positioning__col--offset text-center">
            <h2 class="typography__register--h2">Get&nbsp;ahead.</h2>
            <h3 class="typography__register--h3">Register&nbsp;at&nbsp;KCC.</h3>
          </div>
        </div>
        <!--
        <span class="typography__register--caption">Adrian Benfield, Class of 2017</span>
        -->
      </div>
      <div class="col-xl-4 positioning__accordian--padding">
        <h4 id="about-you" class="typography__register-h4 text-center">ABOUT YOU</h4>
        <!--
          <h5 class="typography__register-h5 text-center">Classes Begin Jan. 7th</h5>
        <h5 class="typography__register-h5 text-center">Seats Are Filling Fast</h5>
        -->
        <div class="targetx__wrapper">
          {% include targetx-form.html %}
        </div>
      </div>
    </div>
  </div>
</header>

<section class="positioning__first-section--marg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="text-center typography__register--h5">Why Choose KCC?</h5>
      </div>
    </div>
    <div class="row">
      <div id="colSave" class="col-12 col-md-4">
        <div class="text-center">
          {% include save-money.svg %}
        </div>
        <h6 class="typography__register--h6 text-center editable">Save Money</h6>
        <div class="editable">
          <p class="text-center typography__larger-p"><strong>KCC costs 1/3 less</strong> than 4-year colleges and universities and offers the same great education. Plus, financial aid & scholarships can&nbsp;help.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include love.svg %}
        </div>
        <h6 class="typography__register--h6 text-center editable">Love What You Do</h6>
        <p class="text-center typography__larger-p">KCC has degree & certificate <strong>options to fit your interests</strong>. You can transfer after KCC to complete a bachelor’s degree, or get ready for the&nbsp;workforce.</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include goals.svg %}
        </div>
        <h6 class="typography__register--h6 text-center editable">Reach Your Goals</h6>
        <p class="text-center typography__larger-p">We care about your progress and want you to succeed. KCC’s small class sizes, faculty and support services <strong>help you stay on track to&nbsp;graduate.</strong></p>
      </div>
    </div>
  </div>
</section>

<section class="positioning__section--marg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="typography__register--h5 text-center">What Our Students Say</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 text-center">
        <img src="{{ page.baseurl }}uploads/jordan-camera2.jpg" class="content__circle-img borders__circle-img img-fluid rounded-circle" alt="" />
      </div>
      <div class="col-12 col-md-8 align-self-center">
        <p class="typography__register--student-p"><em>“I firmly believe that KCC is the best educational option in Kankakee County. The education and career guidance I received in my short time there was instrumental in my success. I wouldn’t be where I am today without Kankakee Community College.”</em></p>
        <span class="typography__register--img-cap">-&nbsp;Jordan Arseneau, Class of 2002</span>
      </div>
    </div>
    <div class="row positioning__row--pad">
      <div class="col-12 col-md-8 order-2 order-md-1 align-self-center">
        <p class="typography__register--student-p"><em>“I definitely enjoyed all of my time here. I was able to work part time and still go to class. And I was still involved in clubs. So I got to hang out with my friends. Professors will definitely help get you on the right track. I would not have gone to any
other school.”</em></p>
        <span class="typography__register--img-cap">-&nbspKriston Love, Class of 2016</span>
      </div>
      <div class="col-12 col-md-4 text-center order-1 order-md-2">
        <img src="{{ page.baseurl }}uploads/kriston-love.jpg" class="content__circle-img borders__circle-img img-fluid rounded-circle" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="positioning__section--marg positioning__blue-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="typography__register--h5 text-center">Recognized & Accredited</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 text-center text-lg-left">
        <div class="accredited__card mx-auto">
          <div class="text-center">
            {% include check.svg %}
            <span class="accredited__span-l">KCC  is Accredited</span>
            <span class="accredited__span-s">by the Higher Learning Commission (hlcommission.org), a regional accreditation agency recognized by the U.S. Department of Education.</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <img src="{{ page.baseurl }}/uploads/zippia.png" class="positioning__register--idfpr-img img-fluid" alt="#1 community college in Illinois for job placement according to Zippia.com" />
        <span class="accredited__span--source text-left">Source: Zippia.com</span>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col">
            <img src="{{ page.baseurl }}uploads/itransfer.png" alt="Illinois Itransfer logo" class="positioning__register--itransfer-img float-right" />
          </div>
          <div class="col">
            <span class="typography__register-itransfer">Illinois<br /> Transfer<br /> Articulation<br /></span>
          </div>
        </div>
        </div>
      </div>
    </div>

</section>

<section class="positioning__section--marg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="typography__register--h5 text-center editable">
            Classes Begin Soon!
        </h5>
        <a href="/#about-you" id="jumpLink" class="btn btn-primary btn-lg buttons__btn-marg buttons__blue-btn text-center">REGISTER</a>
      </div>
    </div>
  </div>
</section>
