
.accredited__card {
  background-color: $primary-blue;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 90%
}

@media screen and (min-width: 400px) {
  .accredited__card {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .accredited__card {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .accredited__card {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .accredited__card {
    width: 75%;
  }
}

.accredited__span-l {
  color: $white;
  font-size: 2.6rem;
  font-weight: bolder;
  display: block;
  line-height: 1;
  margin-top: -10px;
  margin-bottom: 5px;
}

.accredited__span-s {
  color: $white;
  font-size: 1.1rem;
  font-style: italic;
  line-height: .5;
  font-weight: 600;
  letter-spacing: -.06rem;
}

.accredited__span--source {
  display: block;
}

.accredited__itransfer--wrapper {
  width: 50%;
}
