// Header styles
// ==========================================

.header__bg {
  background-image: url('/uploads/banner_d72_0551.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55%;
  height: 55vh;
}

@media screen and (min-width: 1200px) {
  .header__bg {
    height: auto;
  }
}
