// Positioning Styles                         //
// ========================================== //

.positioning__offset-global-nav {
  margin-top: 60px;
}

.positioning__accordian--padding {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 992px) {
  .positioning__accordian--padding {
    margin-top: 60px;
  }
}

.positioning__col--offset {
  margin-right: -25px;
}

@media screen and (min-width: 768px) {
  .positioning__col--offset {
    margin-right: -45px;
  }
}

.positioning__heading--row {
  margin-top: 32%;
}

@media screen and (min-width: 360px) {
  .positioning__heading--row {
    margin-top: 38%;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .positioning__heading--row {
    margin-top: 28%;
  }
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
  .positioning__heading--row {
    margin-top: 36%;
  }
}

@media screen and (min-width: 1200px) and (orientation: portrait) {
  .positioning__heading--row {
    margin-top: 28%;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscsape) {
  .positioning__heading--row {
    margin-top: 28%;
  }
}

@media screen and (min-width: 2000px) {
  .positioning__heading--row {
    margin-top: 18%;
  }
}

.positioning--max-width-700 {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
